<div class="toolbar" role="banner" #pageHeader>
  <img width="40" alt="Nasa Logo" src="assets/agencias/nasa.png" />
  <span class="titulo" #tituloText>{{model.titulo}}</span>
  <div class="sunData" #sunData (click)="changeTempUnit()" placement="bottom" [ngbPopover]="model.controlValues.temp.popDesc" [popoverTitle]="model.controlValues.temp.popTitle">
    <span>Temperature: </span>
    <span class="temperatura" #temperaturaText>{{model.controlValues.temp.temperaturas.visible}}</span>
    <mat-icon>info</mat-icon>
  </div>
  <div class="howtoBtn" (click)="showHowTo()">HowTo</div>
  <!--<button class="createStormBtn mat-stroked-button" (click)="showCreateStormPopup()"> Create your own storm </button>-->
</div>

<div class="content" role="main">

  <div class="howTo" [ngClass]="{'oculto': !model.showHowTo}">
    <img alt="arrow" class="arrow arrowHeader" src="assets/arrow.png" />
    <label class="labelArrow labelHeader">In this section you can see information on the temperature of the solar window, in addition this temperature causes the colors of some elements of the screen to change. I invite you to investigate and see how the temperature affects the page. Remember that you have information elements scattered all over the screen.</label>
    <img alt="arrow" class="arrow arrowSelect" src="assets/arrow.png" />
    <label class="labelArrow labelSelect">In this section you can change the image of the sun and you will see the last real-time photo taken of our sun star in different channels. You have a lot of information about it on the page.</label>
    <img alt="arrow" class="arrow arrowSats" src="assets/arrow.png" />
    <label class="labelArrow labelSats">In the central part of the screen you will see many of the satellites that are currently on missions to observe and study the sun and space weather. In addition, by clicking on them you will get a lot of accurate information about the mission and very interesting links.</label>
    <img alt="arrow" class="arrow arrowMore" src="assets/arrow.png" />
    <label class="labelArrow labelMore">We invite you to investigate the page and discover what more secrets and information it hides. Let's go!</label>

    <button mat-mini-fab class="actionBtn okHowTo" (click)="closeHowTo()">Continue</button>
  </div>

  <div class="headerGrid">
    <mat-select #selectSolId class="selectSol" id="selectSolId" [(value)]="model.solFotos.selected" (selectionChange)="selectSol($event)" panelClass="selectSolPanel"> 
      <mat-option *ngFor="let sol of model.solFotos.tipos" [value]="sol.key">{{sol.name}}</mat-option>
    </mat-select>

    <label class="solDesc">{{model.solFotos.selectedDesc}}</label>
  </div>

  <div class="windDiv" [ngClass]="{'showWind': model.controlValues.wind.soundActive}"></div>

  <div class="mainGrid" id="mainGrid">
    
    <button mat-mini-fab class="actionBtn sunInfoBtn" #sunInfoBtn id="sunInfoBtn"
    placement="right" ngbPopover="The Sun is essential for life on Earth, as it is the most important source of light, energy and natural heat that we have." popoverTitle="Our amazing and spectacular Sun">
      <mat-icon>info</mat-icon>
    </button>

    <button mat-mini-fab class="actionBtn windSound" #windSoundBtn id="windSoundBtn" (click)="hearWind()"
    placement="bottom" [ngClass]="{'actionBtnActive': model.controlValues.wind.soundActive}" [ngbPopover]="model.controlValues.wind.currentVariant.info" [popoverTitle]="model.controlValues.wind.popTitle">
      <mat-icon>info</mat-icon>
    </button>

    <button mat-mini-fab class="actionBtn misionsInfo" #misionsInfo id="misionsInfo"
    placement="bottom" [ngbPopover]="model.misiones.popInfo" [popoverTitle]="model.misiones.popTitle">
      <mat-icon>info</mat-icon>
    </button>

    <button mat-mini-fab class="actionBtn solarWindInfo" #solarWindInfo id="solarWindInfo" (click)="showWindInfo()"
    placement="right" [ngbPopover]="model.controlValues.wind.windInfo.outDesc" [popoverTitle]="model.controlValues.wind.windInfo.title">
      <mat-icon>info</mat-icon>
    </button>

    <div class="sunDiv">
      <img alt="Imagen sol" class="fotoSol" [src]="model.solFotos.selectedUrl" />
    </div>

    <div class="satsDiv">
      <div *ngFor="let sat of model.sats" class="sateliteDiv {{sat.class}}">
        <div *ngIf="sat.name">
          <img alt="Imagen {{sat.name}}" class="satelite" [ngClass]="{'highWind': model.controlValues.wind.rangoNormal.max < model.realData[2]}" src="{{sat.image}}" (click)="showSatData(sat)" placement="bottom" [ngbPopover]="sat.name"/>
        </div>
      </div>
    </div>
    
  </div>

  <img alt="Imagen earth" class="fotoTierra" src="assets/tierra2.png" placement="left" ngbPopover="Home Sweet Home. Which we have the obligation and need to take care of, our future and that of the human race depends on it." popoverTitle="Our lovely planet">/>

  <img alt="Imagen moon" class="fotoMoon" src="assets/moon.png" placement="left" ngbPopover="It is a beautiful and enchanting sight to contemplate the body of the Moon. (Galileo Galilei)" popoverTitle="Our beautiful Moon">/>

  <label #frase class="frase">{{model.frases.selected}}</label>

</div>

<router-outlet></router-outlet>
